@media (max-width: 1000px) {
    .stats-grid{
        grid-template-columns: 1fr 1fr;
    }
    .charts-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }
    .menu-logo{
        display: inline;
    }
    .sidebar {
        display: none;
    }
    .stats-grid{
        grid-template-columns: 1fr 1fr;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
    }
    .menu-logo{
        display: inline;
    }
    .sidebar {
        display: none;
    }
    .charts-grid{
        grid-template-columns: 1fr;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }

}
@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
    .menu-logo{
        display: inline;
    }
    .sidebar {
        display: none;
    }
    .stats-grid{
        grid-template-columns: 1fr;
    }
    .charts-grid{
        grid-template-columns: 1fr;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }

}